<p>
  <strong>Ім'я:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Коментар:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Видалити коментар', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Ви впевнені?' } %>
</p>